
body {
	margin: 0;
	padding: 0;
}

#video-grid {
	display: flex;
	justify-content: center;
}

video {
	height: 300px;
	width: 400px;
	object-fit: cover;
	transform: scalex(-1);
}

.main {
	height: 100vh;
	display: flex;
}

.main__left {
	flex: .8;
	display: flex;
	flex-direction: column;
}

.main__right {
	flex: .2;
}

.main__video {
	flex-grow: 1;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__control {
	display: flex;
	background-color: #1c1e20;
	color: #d2d2d2;
	padding: 5px;
	justify-content: space-between;
}

.main__control__block{
	display: flex;
}

.main__control__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	cursor: pointer;
}

.main__control__button i {
	font-size: 24px;
}

.main__control__button:hover {
	background-color: #343434;
	border-radius: 5px;
}

.leave-meeting {
	color: #ea534b;
}

.main__right {
	display:flex;
	flex-direction: column;
	background-color: #242324;
	border-left: 1px solid #3d3d42;
}

.chat__header {
	color: #f5f5f5;
	text-align: center;
}

.main__chat__window {
	flex-grow: 1;
	overflow-y: scroll;
}

.main__message__container {
	display: flex;
	padding: 22px 12px;
}

.main__message__container input{
	flex-grow: 1;
	background-color: transparent;
	border: none;
	color: #f5f5f5;
}

.messages {
	color: white;
	list-style: none;
}

.stopped {
	color:#ea534b;
}

.input {
 	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 1000;
	
}

.input__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #1c1e20;
    width: 40%;
    height: 35vh;
    border-radius: 41px;
}

.input__box input {
    display: block;
    width: 70%;
    border-bottom: 3px solid transparent;
    transition: all .4s;
    font-size: 19px;
    margin: 40px auto;
    border-radius: 6px;
    padding: 10px 15px;
}

.input__box input:focus {
    outline: none;
    border-bottom: 3px solid #128cb8;
}

.input__label {
    font-size: 12px;
    color: #128cb8;
    display: block;
    margin-top: -60px;
    margin-left: 90px;
	transition: all .3s;
	opacity: 0;
  	visibility: hidden;
}

.input__box input:focus + .input__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(20px);
}

.input__button, .input__button:link, .input__button:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    transition: all .3s;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 11px 29px;
    border-radius: 10px;
}