
body {
	margin: 0;
	padding: 0;
}

#video-grid {
	display: flex;
	justify-content: center;
}

video {
	height: 300px;
	width: 400px;
	object-fit: cover;
	transform: scalex(-1);
}

.main {
	height: 100vh;
	display: flex;
}

.main__left {
	flex: .8;
	display: flex;
	flex-direction: column;
}

.main__right {
	flex: .2;
}

.main__video {
	flex-grow: 1;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__control {
	display: flex;
	background-color: #1c1e20;
	color: #d2d2d2;
	padding: 5px;
	justify-content: space-between;
}

.main__control__block{
	display: flex;
}

.main__control__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	cursor: pointer;
}

.main__control__button i {
	font-size: 24px;
}

.main__control__button:hover {
	background-color: #343434;
	border-radius: 5px;
}

.leave-meeting {
	color: #ea534b;
}

.main__right {
	display:flex;
	flex-direction: column;
	background-color: #242324;
	border-left: 1px solid #3d3d42;
}

.chat__header {
	color: #f5f5f5;
	text-align: center;
}

.main__chat__window {
	flex-grow: 1;
	overflow-y: scroll;
}

.main__message__container {
	display: flex;
	padding: 22px 12px;
}

.main__message__container input{
	flex-grow: 1;
	background-color: transparent;
	border: none;
	color: #f5f5f5;
}

.messages {
	color: white;
	list-style: none;
}

.stopped {
	color:#ea534b;
}